.tab-control
    &::after
        pseudo(block, relative);
        width: 100%;
        height: 3px;
        background-color: transparent;
        transition: .2s;
    &.is-active
        &::after
            pseudo(block, relative);
            background-color: blue;

.tab-content
    display: none;

    &.is-active
        display: block;
        animation: fadeIn .3s;

.tab
    display: flex;
    flex-flow: column;
    mq(desktop)
        flex-flow: row nowrap;
    &__item
        width: 100%;
        &:first-child
            .tab__link
                border-top: 2px solid $c--dark-gray;
                mq(desktop)
                    border-left: 2px solid $c--dark-gray;
    &__link
        display: inline-block;
        width: 100%;
        padding: 8px 16px;
        border: 2px solid $c--dark-gray;
        border-top: none;
        background-color: $c--light-gray;
        color: $c--dark-gray;
        text-transform: uppercase;
        text-align: center;
        // font(mukta, 15px, 35px);
        mq(desktop)
            border: 2px solid $c--dark-gray;
            border-left: none;
        &--active
            background-color: $c--dark-gray;
            color: $c--white;
        &--disabled
            border: 2px solid $c--medium-gray;
            border-top: none;
            color: $c--medium-gray;
            cursor: default;
            pointer-events: none;
            user-select: none;
            mq(desktop)
                border: 2px solid $c--medium-gray;
                border-left: none;
