// Reset Styles<% if (cssReset === 'ericmeyer') { %>
@import "node_modules/normalize.css/normalize";<% } %><% if (cssReset === 'normalize') { %>
@import "node_modules/reset-css/reset.css";<% } %>

// Import Helpers
@import "vars/index";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/helpers";

// Import Base
@import "base/typography";

// Import Layout
@import "layout/base";

// Import Vendors
@import "vendors/hamburgers/settings";
@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import "node_modules/choices.js/src/styles/choices";
@import "node_modules/badger-accordion/dist/badger-accordion.scss";
@import "vendors/badger-accordion/custom";

// Import Components
@import "components/avatar",
        "components/badge",
        "components/breadcrumbs",
        "components/button",
        "components/checkbox",
        "components/dropdown",
        "components/horizontal-rule",
        "components/icon",
        "components/icons",
        "components/input",
        "components/form",
        "components/keyframes",
        "components/link",
        "components/list",
        "components/radio",
        "components/search",
        "components/select",
        "components/socials",
        "components/spinner",
        "components/subscribe-input",
        "components/textarea";
// yo:update -- component

// Import Modules
@import "../_modules/footer/footer",
        "../_modules/header/header",
        "../_modules/header/dropdown",
        "../_modules/svg/svg",
        "../_modules/toggler/toggler",
        "../_modules/accordion/accordion",
        "../_modules/tabs/tabs",
        "../_modules/choices-select/choices-select",
        "../_modules/overlay/overlay",
        "../_modules/upload-btn/upload-btn",
        "../_modules/modal/modal";
// yo:update -- module


// Import Pages
@import "pages/home/index";
// yo:update -- page

.yeogurt-info
    text-align: center
    max-width: 500px
    margin-left: auto
    margin-right: auto
    img
        margin: 0 auto

.version
    font-size: 14px
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
    position: absolute
    bottom: 10px
    right: 10px

// Styling on warning for users on IE7 or below
.browsehappy
    text-align: center
    margin: 0
    background: #fff8e2
    color: #000
    padding: 0.5em 0
