$checkbox-border-color: $c--light-gray;
$checkbox-border-color-hover: $c--green;
$checkbox-border-color-checked: $c--light-gray;
$checkbox-border-color-checked-hover: $c--light-gray;
$checkbox-bg-color: $c--white;
$checkbox-check-color: $c--green;
