$h--xxx-small: rem(16px);
$h--xx-small: rem(18px);
$h--x-small: rem(20px);
$h--small: rem(22px);
$h--medium: rem(24px);
$h--large: rem(28px);
$h--x-large: rem(36px);
$h--xx-large: rem(48px);
$h--xxx-large: rem(60px);

$p: rem(16px);
$p--small: rem(12px);
$p--medium: rem(18px);
$p--large: rem(24px);

// line-height ratios

$lh: 1.5;
$lh--x-small: 1.1;
$lh--small: 1.25;
$lh--large: 1.75;

// weights

$w--light: 300;
$w--normal: 400;
$w--medium: 500;
$w--semibold: 600;
$w--bold: 700;
$w--exbold: 800;
$w--black: 900;
