$input-placeholder-color: $c--light-gray;
$input-border-radius: 1px;
$input-bg-color: $c--white;
$input-border-color: $c--light-gray;
$input-border-color-hover: $c--green;
$input-border-color-focus: $c--green;
$input-border-color-disable: rgba($c--light-gray, .54);
$input-label-color: $c--soft-black;
$input-value-color: $c--soft-black;
$input-value-color-disable: rgba($c--soft-black, .24);
$input-error-color: $c--red;
