$radio-border-color: $c--light-gray;
$radio-border-color-hover: $c--green;
$radio-border-color-checked: $c--green;
$radio-border-color-checked-hover: $radio-border-color-hover;
$radio-bg-color: $c--white;
$radio-bg-color-checked: $radio-border-color-checked;
$radio-circle-color: $c--white;
