$select-placeholder-color: #cacaca;
$select-border-radius: $input-border-radius;
$select-bg-color: $input-bg-color;
$select-border-color: $input-border-color;
$select-border-color-hover: $input-border-color-hover;
$select-border-color-focus: $input-border-color-focus;
$select-border-color-disable: $input-border-color-disable;
$select-label-color: $input-label-color;
$select-value-color: $input-value-color;
$select-value-color-disable: $input-value-color-disable;
$select-error-color: $input-error-color;
