$textarea-placeholder-color: rgba($c--black, .54);
$textarea-border-radius: 4px;
$textarea-bg-color: $input-bg-color;
$textarea-border-color: $input-border-color;
$textarea-border-color-hover: $input-border-color-hover;
$textarea-border-color-focus: $input-border-color-focus;
$textarea-border-color-disable: rgba($c--white, .54);
$textarea-label-color: $c--black;
$textarea-value-color: $c--black;
$textarea-value-color-disable: rgba($c--black, .24);
$textarea-error-color: $c--red;
