dl.accordion.js-badger-accordion
    dt.accordion__header
        button.accordion__trigger.js-badger-accordion-header
            .accordion__trigger-title-symbol
            .accordion__trigger-title Title
    dd.accordion__panel.badger-accordion__panel.js-badger-accordion-panel
        .accordion__panel-inner.js-badger-accordion-panel-inner
            p Badgers are short-legged omnivores in the family Mustelidae, which also includes otters, polecats, weasels and wolverines. They belong to the caniform suborder of carnivoran mammals.
            p Badgers are short-legged omnivores in the family Mustelidae, which also includes otters, polecats, weasels and wolverines. They belong to the caniform suborder of carnivoran mammals.
            p Badgers are short-legged omnivores in the family Mustelidae, which also includes otters, polecats, weasels and wolverines. They belong to the caniform suborder of carnivoran mammals.
    dt.accordion__header
        button.accordion__trigger.js-badger-accordion-header
            .accordion__trigger-title-symbol
            .accordion__trigger-title Title 2
    dd.accordion__panel.badger-accordion__panel.js-badger-accordion-panel
        .accordion__panel-inner.js-badger-accordion-panel-inner
            p Badgers are short-legged omnivores in the family Mustelidae, which also includes otters, polecats, weasels and wolverines. They belong to the caniform suborder of carnivoran mammals.
            p Badgers are short-legged omnivores in the family Mustelidae, which also includes otters, polecats, weasels and wolverines. They belong to the caniform suborder of carnivoran mammals.
            p Badgers are short-legged omnivores in the family Mustelidae, which also includes otters, polecats, weasels and wolverines. They belong to the caniform suborder of carnivoran mammals.
