//- +tabs({ id: 'tab', data: [{}] })
mixin tabs(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''
    - spec.id = spec.id || 'tab'
    
    .b-tab
        .b-tab__header
            ul.b-tab__nav-list
                each item, index in data
                    li.b-tab__nav-item(class={ "is-active": index == 0 })
                        a.b-tab__nav-link(href= "#" + spec.id + "-" + index data-tab= spec.id + "-" + index)= item.title
                    
        .b-tab__content-wrapper
            each item, index in data
                .b-tab__content(id= spec.id + "-" + index class={ "is-active": index == 0 })
