// <span class="radio">
//     <input id="rad" type="radio" name="radio">
//     <label class="radio__wrapper" for="rad">
//         <span class="radio__circle">
//             <span class="radio__inner"></span>
//         </span>
//         <span class="radio__text">Radio</span>
//     </label>
// </span>

.radio {
    display: inline-flex;
    flex-flow: row nowrap;
    &__wrapper {
        display: flex;
    }
    &__inner {
        @include pseudo(inline-block);
        background-color: $c--white;

        width: 58%;
        height: 58%;
        border-radius: 50%;
        transition: .2s ease;
    }
    &__circle {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        // padding-left: 24px;
        margin-right: 14px;
        cursor: pointer;
        // line-height: 15px
        color: $c--soft-black;
        // @include font(mukta, 16px, 18px);

        width: 16px;
        height: 16px;
        border: 1px solid $input-border-color;
        border-radius: 100%;
        transition: border-color .2s;
    }
    &__text {
        cursor: pointer;
        color: $c--soft-black;
    }
}

[type="radio"] {
    &:checked,
    &:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    &:not(:checked) {

        & + .radio__wrapper {
            .radio__circle {
                &:hover {
                    border-color: $input-border-color;
                }
            }
            .radio__inner {
                opacity: 0;
                transform: scale(0);
            }
        }
    }
    &:checked {
        & + .radio__wrapper {
            .radio__circle {
                background-color: black;
                border-color: black;

            }
            .radio__inner {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}
