// footer styles

.footer {
    padding: 46px 0;
    @include mq(desktop) {
        padding: 100px 0;
    };
    &__title {
        position: relative;
        color: black;
        text-transform: uppercase;
        cursor: pointer;
        // @include font(mukta, 23px, 26px);
        @include mq(desktop) {
            cursor: default;
        };
    }
    &__caption {
        display: block;
        color: white;
        // @include font(mukta, 16px, 30px);
    }
    &__col {
        margin-top: 30px;
        @include mq(desktop) {
            margin-top: 0;
        };
    }
    &__socials {
        margin-top: 20px;
    }
    &__connect {
        margin-top: 30px;
        @include mq(desktop) {
            margin-top: 40px;
        };
    }
}

.footer-links-col {
    &__list {
        margin-top: 30px;
        @include mq(desktop) {
            overflow: visible;
        };
    }
    &__item {
        & + & {
            margin-top: 10px;
        }
    }
    &__link {
        position: relative;
        display: inline-block;
        color: white;
        // @include font(mukta, 17px, 24px);
        transition: .3s;
        &::before {
            @include pseudo();
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: white;
            transition: .2s;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
    &__subscribe {
        margin-top: 20px;
    }
}

.subfooter {
    padding: 30px 0;
    background-color: white;
    @include mq(desktop) {
        padding: 40px 0;
    };
    &__text {
        color: gray;
        text-align: center;
        // @include font(mukta, 18px, 26px);
        @include mq(desktop) {
            // @include font(mukta, 16px, 26px);
        };
    }
}
