// basic spacing units

$spacing-unit: rem(30px);
$spacing-unit--x-small: rem(10px);
$spacing-unit--small: rem(20px);
$spacing-unit--large: rem(40px);
$spacing-unit--x-large: rem(60px);

$rel-spacing-unit: 1em;
$rel-spacing-unit--small: .5em;
