// font-face("HelveticaNeueCyr", "../fonts/HelveticaNeueCyr-Light", $w--light, normal, eot woff2 woff truetype svg, "Yanone Kaffeesatz Light")

p
	margin: 15px 0
	color: $c--soft-black
	// font(mukta, 16px, 28px)

strong, b
	font-weight: 700

.heading-1
    color: $c--soft-black
.heading-2
	color: $c--soft-black
.heading-3
	color: $c--soft-black
.heading-4
	color: $c--soft-black
.heading-5
	color: $c--soft-black
.heading-6
	color: $c--soft-black
